PORT=4200
WEB_ORIGIN=http://localhost:5175
JWT_SECRET=change-me
DATA_DIR=./data
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123456
TURN_URLS=turn:zb.tkwuyali.com:3478?transport=udp,turn:zb.tkwuyali.com:3478?transport=tcp,turns:zb.tkwuyali.com:443?transport=tcp
TURN_USERNAME=
TURN_CREDENTIAL=
